.NanJ {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(./assets/normal.png);
    background-size: 100% 100%;
    background-color: #ddddf0;
    border: 1px solid lightgray;
    border-radius: 100vw;
    translate: -50% -50%;
  }

  @keyframes zoom {
      0.00% { scale: 1; }
     25.00% { scale: 1.5; }
     50.00% { scale: 1; }
     75.00% { scale: 1.5; }
    100.00% { scale: 1; }
  }

  &.--angry {
    span {
      background-image: url(./assets/angry.png);
      animation-duration: 0.4s;
      animation-name: zoom;
    }
  }

  @keyframes fade {
    0.00% {
      translate: -50% -50%;
      opacity: 1;
    }
    100.00% {
      translate: -50% -100%;
      opacity: 0;
    }
  }

  &.--happy {
    span {
      background-image: url(./assets/happy.png);
      animation-duration: 0.5s;
      animation-name: fade;
      animation-fill-mode: forwards;
    }
  }
}
